.recipes
  display: grid
  grid-template-columns: 1fr 3fr
  &__side
    &_item
      margin: 10px 20px
      padding: 10px 10px
      border-right: 4px solid #EADBC2
      color: #EADBC2
      display: flex
      align-items: center
      img
        width: 30px
        height: 30px
        margin-right: 10px
      &:hover
        background: #343149
        cursor: pointer
  &__right
    background: #343149
    position: relative
    display: flex
    justify-content: center
    color: #EADBC2
    &_header
      margin-bottom: 20px
      width: 100%
      background: #282237
      height: 30px
      display: grid
      grid-template-columns: 15fr 10fr 20fr 30fr 20fr
      padding-left: 15px
      place-items: center
    &_button
      display: flex
      justify-self: end
      padding-right: 15px
    &_speed
      display: flex
      margin-left: 15px
      margin-right: 35px
      height: 80%
      align-items: center
      input
        width: 40px
        margin: 0 5px
        background: #343149
        outline: none
        border: none
        border-radius: 3px
        height: 100%
        color: white
    &_productivity
      display: flex
      justify-self: end
      padding-right: 15px
      align-self: center
      align-items: center
      input
        margin-left: 10px

    &_infobox
      display: flex
      justify-content: center
      align-items: center
      white-space: break-spaces
      margin-bottom: 45px
    &_elementary
      display: flex
      justify-content: center
      align-items: center
    &_title
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      margin-bottom: 5px
      img
        width: 70px
        height: 70px
    &_item
      top: 15%
      position: fixed
      display: flex
      flex-direction: column
      width: 50%
    &_detailbox
      display: grid
      grid-auto-flow: column
      grid-auto-columns: 1fr
      align-items: center
      img
        width: 70px
        height: 70px
        padding: 5px
        border-radius: 3px
        margin-bottom: 15px
        &:hover
          background: linear-gradient(125deg, rgba(255,255,255, 0.05), rgba(255,255,255,0.2), rgba(255,255,255, 0.05))
    &_detail
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      width: available
      cursor: pointer

  &__left
    background: #282237
    padding: 20px 0


.loading
  background: #282237
  display: flex
  justify-content: center
  align-items: center
  color: #EADBC2
  height: 100vh
